<!doctype html> 
<html> 
  <head>
    <title>Basketball shoes</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/lightbox.min.css">
    <script type="text/javascript" src="/static/js/lightbox-plus-jquery.min.js">
    </script>
  </head>



  <body>
    <header>{%include'header.html'%}</header>
    <nav>{%include'nav.html'%}</nav>
    <main>{%block content%}{%endblock%}</main>
    <footer>{%include'footer.html'%}</footer>
  </body>
</html>